@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: hsl(266, 25%, 11%);
	color: white;
	text-align: center;
	overflow-x: hidden;
}
.container {
	max-width: 86rem;
	margin: 4rem auto;
}
